*.tfstate
*.tfstate.*
crash.log
.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
kubeconfig

# Sensitive files
# (Optional: if you store environment variable files)
.env
.env.*

# Ignore Terraform provider files
.terraformrc
.terraform.d/